div.footer{
    background-color: black;
    color: white;
}

.peso{
    filter: brightness(0) invert(1);
}

.contenedor{
    min-width: 100%;
}

div.Copy{
    margin-top: 10px;
}

p.card-text{
    font-size: 13px;
}

.conte{
    --bs-gutter-x: 0rem;
}